<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/output.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body class="bg-black">
<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            {{with .Artist}}
            <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="{{.Image}}">
            <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                <h2 class="text-sm title-font text-amber-100 tracking-widest mb-2">Creation data: {{.CreationDate}}</h2>
                <h1 class="text-lime-50 text-5xl title-font font-medium mb-4">{{.Name}}</h1>
                <h2 class="text-sm title-font text-amber-100 tracking-widest mb-4">First album: {{.FirstAlbum}}</h2>
                {{end}}

                <div class="flex flex-col">
                    <h2 class="title-font font-semibold text-gray-800 tracking-wider text-sm mb-3">Members</h2>
                    <nav class="flex flex-wrap list-none -mb-2">
                        {{range .Artist.Members}}
                        <li class="lg:w-1/3 mb-1 w-1/2">
                            <p class="text-gray-600 hover:text-gray-800 mb-2">{{.}}</p>
                        </li>
                        {{end}}
                    </nav>
                    <h2 class="title-font font-semibold text-gray-800 tracking-wider text-sm mb-3">Locations and Dates</h2>
                    {{range $key, $value := .Relations.DatesLocations}}
                    <h3 class="cities m-2 text-slate-100">{{ $key }}</h3>
                    <nav class="flex flex-wrap list-none -mb-2">
                        {{range $value}}
                        <li class="lg:w-1/3 mb-1 w-1/2">
                            <p class="text-gray-600 hover:text-gray-800">{{.}}</p>
                        </li>
                        {{end}}
                    </nav>
                    {{end}}
                </div>
                <div class="flex mb-4">
                    <a href="/" class="mt-4 text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Button</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="maps">
    <div class="geo" id="map"></div>
</div>
<script src="https://api-maps.yandex.ru/2.1/?apikey=68f9b1cf-0626-4d3e-8bef-0ed4216dbec6&lang=ru_RU"
        type="text/javascript"></script>
<script>
    ymaps.ready(init);
    function init() {
        myMap = new ymaps.Map("map", {
            center: [0, 0],
            zoom: 1,
        });
        let coords = document.getElementsByClassName("cities");
        for (let coord of coords) {
            let newCoord = coord.innerHTML.replace(/-/g, "_");
            newCoord = newCoord.replace(/_/g, " ");
            console.log(newCoord);
            let myGeocoder = ymaps.geocode(newCoord, {
                results: 1,
                prefLang: "eng",
            });
            console.log(myGeocoder);
            myGeocoder.then(function (res) {
                myMap.geoObjects.add(res.geoObjects);
            });
        }
    }
</script>
</body>