<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/output.css" rel="stylesheet">
</head>
<body class="bg-black">
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap w-full mb-20">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
                <h1 class="sm:text-4xl text-2xl font-medium title-font mb-4 text-amber-400"><a href="/">Groupie-tracker</a></h1>
                <div class="h-1 w-20 bg-blue-900 rounded"></div>
            </div>
            {{with .AllArtists}}
            <form method="GET" action="/search">
                <input name="search" list="search" placeholder="Search..." required="">
                <datalist id="search">
                    {{range .}}
                    <option value="{{.Name}} - Artist/Band"></option>
                    {{end}}
                    {{range .}}
                    <option value="{{.Members}} - Artist/Band"></option>
                    {{end}}
                    {{range .}}
                    <option value="{{.FirstAlbum}} - Artist/Band"></option>
                    {{end}}
                    {{range .}}
                    <option value="{{.CreationDate}} - Artist/Band"></option>
                    {{end}}
                </datalist>
            </form>
            {{end}}
        </div>
        {{if .SearchedArtist}}
        <div class="flex flex-wrap -m-4">
            {{range .SearchedArtist}}
                <div class="xl:w-1/6 md:w-1/2 p-4">
                    <a href="/artist?id={{.Id}}">
                        <div class="bg-indigo-300 p-6 rounded-lg">
                            <img class="h-40 rounded w-full object-cover object-center mb-6" src="{{.Image}}" alt="content">
                            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">{{.Name}}</h2>
                            <p class="leading-relaxed text-base">{{.CreationDate}}</p>
                        </div>
                    </a>
                </div>
            {{end}}
        </div>
        {{else}}
            <h2>Nothing found</h2>
        {{end}}
    </div>
</section>
</body>
</html>